header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: relative;
    padding: 1em;
}

header div {
    display: flex;
    align-items: center;
    gap: 1em;
}

header ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 65vw;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    display: none;
}

.menu-title {
    text-transform: capitalize;
    color: var(--highlight-color);
    font-weight: 700;
}

.menu-item, .menu-item a {
    list-style-type: none;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    background: var(--secondary-color);
    font-weight: 400;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu-title, header li {
    padding: 1em;
}

#menu:checked ~ .menu-dropdown {
    display: block;
}

#menu {
    display: none;
}

.header-name {
    display: none;
}

